<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form style="padding-top:30px" method="post">
                <textarea name="html" style="height: 300px;">
                    <%= html %>
                </textarea>
                <input type="text" class="form-control" name="website" placeholder="Website - Will override any text above and load the uri inside a frame." value="<%= website %>">
                <input type="text" class="form-control" name="watermark" placeholder="Watermark Image URI." value="<%= watermark %>">
                <button class="btn btn-block btn-success">SAVE</button>
                <a href="/admin" class="btn btn-block btn-danger">Cancel</a>
            </form>
            <script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
            <script type="text/javascript">
                tinymce.init({
                    selector: "textarea"
                });
            </script>
        </div>
    </div>
</div>
