<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Screen Admin</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <table class="table table-bordered">
                <tr>
                    <th>Screen</th>
                    <th>In Use</th>
                </tr>
                <% _.each(screens, function (screen, id) { %>
                <tr>
                    <td><a href="admin/<%= screen.name %>"><%= screen.name %></a></td>
                    <td></td>
                </tr>
                <% }); %>
            </table>

            <table class="table table-bordered">
                <tr>
                    <th>Monitor</th>
                    <th>Using Screen</th>
                </tr>
                <% _.each(monitors, function (monitor, id) { %>
                <tr>
                    <td style="vertical-align:middle"><p><%= monitor.name %></p></td>
                    <td style="vertical-align:middle">
                        <select name="monitor_screen_<%= monitor.name %>" class="form-control change_monitor">
                            <option value="">[ Not Assigned ]</option>
                            <% _.each(screens, function (screen, id) { %>
                            <option<% if (screen.name == monitor.screen) { %> selected<% } %> value="<%= screen.name %>"><%= screen.name %></option>
                            <% }) %>
                        </select>
                    </td>
                </tr>
                <% }); %>
            </table>


        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form style="padding-top:30px" method="post">
                <div class="input-group">
                    <input type="text" name="screen" class="form-control" placeholder="Screen Name">
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="submit">New</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>
