<script>
    setTimeout(function(){
        location = ''
    },30000)
</script>

<div style="
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 9999;
">
    <img src="<%= watermark %>">
</div>


<% if (website != "") { %>
    <iframe
        style="
            width: 100%;
            height: 100%;
            position: absolute;
            overflow: hidden;"
        src="<%= website %>"
        scrolling="no"
        frameborder="0"
        seamless="seamless"
    ></iframe>

    <script>
        $('iframe').height(window.innerHeight);
    </script>
<% } else { %>
    <div class="container">
        <div class="row">
            <div style="padding-top: 30px;" class="col-md-12">
                <%= html %>
            </div>
        </div>
    </div>
<% } %>
