<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <title>Notifications</title>
</head>

<body style="background-color: rgba(100,100,100,0.1);">
    <% if (message) { %>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="alert alert-<%= (message.style) ? message.style : 'info' %>" role="alert">
                    <%= message.text %>
                </div>
            </div>
        </div>
    </div>
    <% } %>

    <%= internal_content %>

    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script>
        $('.change_monitor').on('change', function (ev) {
            var target = $(ev.currentTarget);
            var monitor = target.attr('name').replace('monitor_screen_', '');
            var screen = target.val();

            $.ajax({
                url: '/admin',
                type: 'PUT',
                data: {
                    monitor: monitor,
                    screen: screen
                },
                success: function(result) {
                    console.log(result);
                }
            });
        });
    </script>
</body>

</html>
