<script>
    setTimeout(function(){
        location = ''
    },5000)
</script>

<div class="container-fluid" style="margin-top: 35px;">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center strong"><%= name %></h1>
        </div>
    </div>
</div>